package utils;

public class Credentials {
    // POPULATE THE FOLLOWING
    public static final String SERVER_NAME = "your_server_here";
    public static final String DATABASE_NAME = "your_db_name_here";
    public static final String USER = "your_user_here";
    public static final String PASSWORD = "your_password_here";
}