package utils;

public class Credentials {
    public static final String SERVER_NAME = "change_this";
    public static final String DATABASE_NAME = "TeeTime";
    public static final String USER = "change_this";
    public static final String PASSWORD = "change_this";
}